DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_OAUTH_REDIRECT=http://localhost:7887/auth/discord/callback
EVE_CLIENT_ID=
EVE_SECRET=
EVE_CALLBACK_URL=http://localhost:7887/auth/eve/callback
PORT=7887
