[Unit]
Description=CNG Bot
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/cngbot/CNGbot
ExecStart=/root/cngbot/CNGbot

Restart=always
RestartSec=10

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
